* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-size: 18px;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: "Open Sans", sans-serif;
    font-weight: 400;
    gap: 50px;
    background: linear-gradient(to bottom right, #85f2f5 ,white 80% );
    flex-wrap: wrap;
}

.toDo {
    height: 500px;
    width: 400px;
    box-shadow: 0 0 40px 30px white;
    border-radius: 5px;
    padding: 20px;
}

.toDo__header {
    height: 20%;
    display: flex;
    justify-content: center;
    align-items: center;

}

.toDo__heading {
    font-weight: 500;
    font-size: 300%;
}

.toDo__body {
    height: 70%;
    overflow-y: scroll;
}

.toDo__tasks {
    list-style: none;
}

.toDo__task {
    border-bottom: 2px solid rgba(0, 0, 0, 0.4);
    padding: 20px;
}

.toDo__task--done {
    text-decoration: line-through;
}

.toDo__task:hover {
    cursor: pointer;
    background: hsl(0, 0%, 80%);
}

.toDo__footer {
    height: 10%;

}

.toDo__input, .toDo__headerInput {
    width: 100%;
    height: 100%;
    font-size: 80%;
    font-family: "Open Sans", sans-serif;
}

.fab {
    position: absolute;
    bottom: 50px;
    right: 50px;
    height: 100px;
    width: 100px;
    border-radius: 50%;
    font-size: 300%;
    color: hsl(182, 80%, 34%);
    background: hsl(182, 100%, 90%);
    border: none;
    box-shadow:
        inset 0.0.1em #14f7ff,
        0.0.1em #14F7FF;
}

@keyframes animetion {
    from {
        background-color: rgb(186, 166, 166) transparent 10%;
    }

    to {
        background-color: cyan;
    }
}